{{ template "header.html" .}}
<form action="/Admin/UpdatePassword" method="POST" class="text-left" style="width:60%">
  <label for="oldpsw" class="sr-only">현재 비밀번호</label>
  <input type="password" id="oldpsw" name="oldpsw" class="form-control" placeholder="현재 비밀번호" required autofocus/>
  <br/>

  <label for="newpsw" class="sr-only"> 새로운 비밀번호</label>
  <input type="password" id="newpsw" name="newpsw" class="form-control" placeholder="새로운 비밀번호" required/>
  <input type="password" id="newpswConfirm" name="newpswConfirm" class="form-control" placeholder="비밀번호 확인" required/>
  <br/>
  <br/>
  <button type="submit" class="btn btn-primary">비밀번호 변경</button>
</form>
{{template "admin.html" .}}
{{ template "footer.html" .}}
