{{ template "header.html" .}}
{{ template "flash.html" .}}

{{if .results}}
<div class="panel panel-primary" style="margin-top: 7px; margin-bottom: 7px;">
  <div class="panel-body">
    <table border="0" class="text-right" style="width: 30%;">
      <tr>
        <td><p class="col-md-8 text-left" style="width:70%">{{.Email}}</p></td>
        <td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#postModal{{.Email}}">계정 삭제</button></td>
      </tr>
    </table>
  </div>
</div>
<form action="/Admin/DeleteAccount" method="POST">
  <input type="hidden" name="email" value="{{.Email}}"/>
  <div class="modal fade" id="postModal{{.Email}}" tabindex="-1" role="dialog" aria-labelledby="postModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="postModalLabel">삭제하기</h4>
        </div>
        <div class="modal-body">
          <p class="text-center">{{.Email}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
          <button type="submit" class="btn btn-primary">삭제</button>
        </div>
      </div>
    </div>
  </div>
</form>
{{end}}
{{else}}
{{end}}
{{template "admin.html" .}}
{{template "footer.html" .}}
